---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css?family=Lato:300,400');

body {
    font-family: 'Lato', sans-serif;
}

a {
    transition: all 0.25s;
}

a:hover, a:focus {
    font-weight: normal;
    text-decoration: underline;
}

code {
    color: #8a8a8a;
    background-color: #f9f9f9;
}

header {
    text-align: center;
    width: 250px;
}

section {
    width: 600px;
}

.droid {
    margin: 0;
}